USE [master]
GO
/****** Object:  Database [TRUCK_FLEET_SYSTEM]    Script Date: 2019/10/23 11:17:27 ******/
CREATE DATABASE [TRUCK_FLEET_SYSTEM]

ALTER DATABASE [TRUCK_FLEET_SYSTEM] SET COMPATIBILITY_LEVEL = 110
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TRUCK_FLEET_SYSTEM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TRUCK_FLEET_SYSTEM]
GO
/****** Object:  Table [dbo].[ACCIDENTAL_RECORDS]    Script Date: 2019/10/23 11:17:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ACCIDENTAL_RECORDS](
	[FLEET] [varchar](75) NULL,
	[FLEET_TYPE] [varchar](75) NULL,
	[ACCIDENT_DATE] [varchar](75) NULL,
	[DRIVER_NAME] [varchar](75) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CARGO]    Script Date: 2019/10/23 11:17:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CARGO](
	[CARGO_ID] [int] IDENTITY(1,1) NOT NULL,
	[CARGO_NAME] [varchar](75) NULL,
PRIMARY KEY CLUSTERED 
(
	[CARGO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EMPLOYEES]    Script Date: 2019/10/23 11:17:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EMPLOYEES](
	[EMPLOYEE_ID] [int] IDENTITY(190101,1) NOT NULL,
	[FIRSTNAME] [varchar](75) NULL,
	[LASTNAME] [varchar](75) NULL,
	[DATE_OF_BIRTH] [varchar](75) NULL,
	[EMPLOYEE_POSITION] [varchar](75) NULL,
	[USERNAME] [varchar](75) NULL,
	[EMPLOYEE_PASSWORD] [varchar](75) NULL,
PRIMARY KEY CLUSTERED 
(
	[EMPLOYEE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FLEET]    Script Date: 2019/10/23 11:17:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FLEET](
	[FLEET_ID] [int] IDENTITY(101,1) NOT NULL,
	[FLEET] [varchar](75) NULL,
	[FLEET_TYPE] [varchar](75) NULL,
	[REG_DATE] [varchar](75) NULL,
	[REG_NUMBER] [varchar](75) NULL,
	[MANUFACTURE] [varchar](75) NULL,
	[MAKE] [varchar](75) NULL,
	[MODEL] [varchar](75) NULL,
	[FLEET_COST] [int] NOT NULL,
	[DRIVER] [varchar](75) NOT NULL,
	[MILEAGE] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FLEET_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FLEET_TYPES]    Script Date: 2019/10/23 11:17:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FLEET_TYPES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FLEET_TYPE] [varchar](75) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FUEL_RECORDS]    Script Date: 2019/10/23 11:17:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FUEL_RECORDS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[FLEET] [varchar](75) NULL,
	[FLEET_TYPE] [varchar](75) NULL,
	[REG_NUMBER] [varchar](75) NULL,
	[DRIVER_NAME] [varchar](75) NULL,
	[FUEL_STATION] [varchar](75) NULL,
	[COST] [int] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FUEL_STATIONS]    Script Date: 2019/10/23 11:17:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FUEL_STATIONS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[STATION_NAME] [varchar](75) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[INSURANCE]    Script Date: 2019/10/23 11:17:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[INSURANCE](
	[Broker_ID] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [varchar](175) NOT NULL,
	[Contact_Name] [varchar](175) NOT NULL,
	[Contact_Number] [char](10) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MAINTENANCE]    Script Date: 2019/10/23 11:17:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MAINTENANCE](
	[FLEET] [varchar](75) NULL,
	[FLEET_TYPE] [varchar](75) NULL,
	[MAINTENANCE_DATE] [varchar](75) NULL,
	[SERVICE_TYPE] [varchar](75) NULL,
	[REG_NUMBER] [varchar](75) NULL,
	[SUPPLIER_NAME] [varchar](75) NULL,
	[MAINTENANCE_COST] [int] NOT NULL,
	[Remarks] [varchar](275) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[POSITION]    Script Date: 2019/10/23 11:17:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[POSITION](
	[POSITION_ID] [int] IDENTITY(1,1) NOT NULL,
	[POSITION_NAME] [varchar](75) NULL,
PRIMARY KEY CLUSTERED 
(
	[POSITION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[POSITIONS]    Script Date: 2019/10/23 11:17:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[POSITIONS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[POSITION_TYPE] [varchar](75) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SERVICE_TYPES]    Script Date: 2019/10/23 11:17:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SERVICE_TYPES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SERVICE_TYPE] [varchar](75) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[STOCKS]    Script Date: 2019/10/23 11:17:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[STOCKS](
	[ITEM_ID] [int] IDENTITY(1,1) NOT NULL,
	[BRAND] [varchar](75) NOT NULL,
	[ITEM_DESCRIPTION] [varchar](75) NULL,
	[SUPPLIER_NAME] [varchar](75) NULL,
PRIMARY KEY CLUSTERED 
(
	[ITEM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SUPPLIER_TYPES]    Script Date: 2019/10/23 11:17:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SUPPLIER_TYPES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](75) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SUPPLIERS]    Script Date: 2019/10/23 11:17:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SUPPLIERS](
	[SUPPLIERS_ID] [int] IDENTITY(1,1) NOT NULL,
	[SUPPLIER_NAME] [varchar](75) NULL,
	[SUPPLIER_ADDRESS] [varchar](225) NULL,
	[CONTACT_PERSON] [varchar](75) NULL,
	[SUPPLIER_TELEPHONE] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SUPPLIERS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_MANAGERS]    Script Date: 2019/10/23 11:17:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_MANAGERS](
	[MANAGER_ID] [int] IDENTITY(19001,1) NOT NULL,
	[FIRSTNAME] [varchar](75) NULL,
	[LASTNAME] [varchar](75) NULL,
	[DATE_OF_BIRTH] [varchar](75) NULL,
	[MANAGER_POSITION] [varchar](75) NULL,
	[USERNAME] [varchar](75) NULL,
	[MANAGER_PASSWORD] [varchar](75) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANAGER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TIMESHEET]    Script Date: 2019/10/23 11:17:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TIMESHEET](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EMPLOYEE_ID] [int] NULL,
	[FIRSTNAME] [varchar](75) NOT NULL,
	[LASTNAME] [varchar](75) NOT NULL,
	[HOURS_WORKED] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VEHICLE_TYPES]    Script Date: 2019/10/23 11:17:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VEHICLE_TYPES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[VEHICLE_TYPE] [varchar](75) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[ACCIDENTAL_RECORDS] ([FLEET], [FLEET_TYPE], [ACCIDENT_DATE], [DRIVER_NAME]) VALUES (N'BUS', N'IVECO', N'Wednesday, 23 October 2019', N'KARABO MELETSE')
GO
INSERT [dbo].[ACCIDENTAL_RECORDS] ([FLEET], [FLEET_TYPE], [ACCIDENT_DATE], [DRIVER_NAME]) VALUES (N'TRUCK', N'GABAGE TRUCK', N'Thursday, 10 October 2019', N'MESHACK MOIFADI')
GO
INSERT [dbo].[ACCIDENTAL_RECORDS] ([FLEET], [FLEET_TYPE], [ACCIDENT_DATE], [DRIVER_NAME]) VALUES (N'TRUCK TRACTOR', N'LOG', N'Wednesday, 16 October 2019', N'BRANDON KAPENDA')
GO
SET IDENTITY_INSERT [dbo].[CARGO] ON 

GO
INSERT [dbo].[CARGO] ([CARGO_ID], [CARGO_NAME]) VALUES (1, N'Dump')
GO
INSERT [dbo].[CARGO] ([CARGO_ID], [CARGO_NAME]) VALUES (2, N'Pole')
GO
INSERT [dbo].[CARGO] ([CARGO_ID], [CARGO_NAME]) VALUES (3, N'Concrete Mixer')
GO
SET IDENTITY_INSERT [dbo].[CARGO] OFF
GO
SET IDENTITY_INSERT [dbo].[FLEET] ON 

GO
INSERT [dbo].[FLEET] ([FLEET_ID], [FLEET], [FLEET_TYPE], [REG_DATE], [REG_NUMBER], [MANUFACTURE], [MAKE], [MODEL], [FLEET_COST], [DRIVER], [MILEAGE]) VALUES (101, N'Bus', N'Single Unit', N'Thursday, 17 October 2019', N'KB 45 WV GP', N'MAN', N'MAN', N'IVECO', 45000, N'KARABO MELETSE', 250000)
GO
INSERT [dbo].[FLEET] ([FLEET_ID], [FLEET], [FLEET_TYPE], [REG_DATE], [REG_NUMBER], [MANUFACTURE], [MAKE], [MODEL], [FLEET_COST], [DRIVER], [MILEAGE]) VALUES (102, N'BUS', N'Single Unit', N'Thursday, 24 October 2019', N'MF 56 SA GP', N'MERCEDES BENZ', N'MERCEDES BENZ', N'V250d', 75000, N'Koketso Mashe', 350000)
GO
SET IDENTITY_INSERT [dbo].[FLEET] OFF
GO
SET IDENTITY_INSERT [dbo].[FLEET_TYPES] ON 

GO
INSERT [dbo].[FLEET_TYPES] ([ID], [FLEET_TYPE]) VALUES (1, N'BUS')
GO
INSERT [dbo].[FLEET_TYPES] ([ID], [FLEET_TYPE]) VALUES (2, N'Truck')
GO
INSERT [dbo].[FLEET_TYPES] ([ID], [FLEET_TYPE]) VALUES (3, N'Truck Tractor')
GO
SET IDENTITY_INSERT [dbo].[FLEET_TYPES] OFF
GO
SET IDENTITY_INSERT [dbo].[FUEL_RECORDS] ON 

GO
INSERT [dbo].[FUEL_RECORDS] ([id], [FLEET], [FLEET_TYPE], [REG_NUMBER], [DRIVER_NAME], [FUEL_STATION], [COST]) VALUES (1, N'BUS', N'V250d', N'kb 34 wv GP', N'Karabo Meletse', N'CALTEX', 1250)
GO
INSERT [dbo].[FUEL_RECORDS] ([id], [FLEET], [FLEET_TYPE], [REG_NUMBER], [DRIVER_NAME], [FUEL_STATION], [COST]) VALUES (2, N'TRUCK', N'GABAGE', N'mm 15 sf GP', N'Meshack Moifadi', N'ENGEN', 750)
GO
SET IDENTITY_INSERT [dbo].[FUEL_RECORDS] OFF
GO
SET IDENTITY_INSERT [dbo].[FUEL_STATIONS] ON 

GO
INSERT [dbo].[FUEL_STATIONS] ([ID], [STATION_NAME]) VALUES (1, N'SASOL GARAGE')
GO
INSERT [dbo].[FUEL_STATIONS] ([ID], [STATION_NAME]) VALUES (2, N'CALTEX GARAGE')
GO
INSERT [dbo].[FUEL_STATIONS] ([ID], [STATION_NAME]) VALUES (3, N'BP GARAGE')
GO
SET IDENTITY_INSERT [dbo].[FUEL_STATIONS] OFF
GO
SET IDENTITY_INSERT [dbo].[INSURANCE] ON 

GO
INSERT [dbo].[INSURANCE] ([Broker_ID], [CompanyName], [Contact_Name], [Contact_Number]) VALUES (1, N'LIBERTY', N' DESMOND MOIFADI', N'847685544 ')
GO
INSERT [dbo].[INSURANCE] ([Broker_ID], [CompanyName], [Contact_Name], [Contact_Number]) VALUES (2, N'ONE DIRECT', N'KISALA KAPENDA', N'676754444 ')
GO
SET IDENTITY_INSERT [dbo].[INSURANCE] OFF
GO
INSERT [dbo].[MAINTENANCE] ([FLEET], [FLEET_TYPE], [MAINTENANCE_DATE], [SERVICE_TYPE], [REG_NUMBER], [SUPPLIER_NAME], [MAINTENANCE_COST], [Remarks]) VALUES (N'BUS', N'V250d', N'Friday, 25 October 2019', N'Planned Services', N'kb 25 mm', N'MIDAS', 15000, N'CHANGE OIL FILTERS, BRAKE PADS & TYRES ')
GO
INSERT [dbo].[MAINTENANCE] ([FLEET], [FLEET_TYPE], [MAINTENANCE_DATE], [SERVICE_TYPE], [REG_NUMBER], [SUPPLIER_NAME], [MAINTENANCE_COST], [Remarks]) VALUES (N'TRUCK', N'TRACTOR', N'Wednesday, 30 October 2019', N'Planned Services', N'ZW 54 DS GP', N'AUTO ZONE', 19000, N'STEERING WHEEL & STARTER ')
GO
SET IDENTITY_INSERT [dbo].[POSITIONS] ON 

GO
INSERT [dbo].[POSITIONS] ([ID], [POSITION_TYPE]) VALUES (1, N'Office Manager')
GO
INSERT [dbo].[POSITIONS] ([ID], [POSITION_TYPE]) VALUES (2, N'Vehicle Information Administrator')
GO
INSERT [dbo].[POSITIONS] ([ID], [POSITION_TYPE]) VALUES (3, N'Trip usage Manager')
GO
SET IDENTITY_INSERT [dbo].[POSITIONS] OFF
GO
SET IDENTITY_INSERT [dbo].[SERVICE_TYPES] ON 

GO
INSERT [dbo].[SERVICE_TYPES] ([ID], [SERVICE_TYPE]) VALUES (1, N'Planned Service')
GO
INSERT [dbo].[SERVICE_TYPES] ([ID], [SERVICE_TYPE]) VALUES (2, N'Complete Service')
GO
SET IDENTITY_INSERT [dbo].[SERVICE_TYPES] OFF
GO
SET IDENTITY_INSERT [dbo].[SUPPLIER_TYPES] ON 

GO
INSERT [dbo].[SUPPLIER_TYPES] ([ID], [NAME]) VALUES (1, N'TIGER WHEEL & tyre')
GO
INSERT [dbo].[SUPPLIER_TYPES] ([ID], [NAME]) VALUES (2, N'Kushi tyres')
GO
INSERT [dbo].[SUPPLIER_TYPES] ([ID], [NAME]) VALUES (3, N'Midas')
GO
SET IDENTITY_INSERT [dbo].[SUPPLIER_TYPES] OFF
GO
SET IDENTITY_INSERT [dbo].[SUPPLIERS] ON 

GO
INSERT [dbo].[SUPPLIERS] ([SUPPLIERS_ID], [SUPPLIER_NAME], [SUPPLIER_ADDRESS], [CONTACT_PERSON], [SUPPLIER_TELEPHONE]) VALUES (1, N'MIDAS', N'56 AVENUE STREET BRYNSTON', N'DAVIDO SMITH', 876453222)
GO
INSERT [dbo].[SUPPLIERS] ([SUPPLIERS_ID], [SUPPLIER_NAME], [SUPPLIER_ADDRESS], [CONTACT_PERSON], [SUPPLIER_TELEPHONE]) VALUES (2, N'TIGER WHEEL & TYRE', N'75 CAZIER ROAD MIDRAND', N'PETER MOSADI', 856749475)
GO
SET IDENTITY_INSERT [dbo].[SUPPLIERS] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_MANAGERS] ON 

GO
INSERT [dbo].[TBL_MANAGERS] ([MANAGER_ID], [FIRSTNAME], [LASTNAME], [DATE_OF_BIRTH], [MANAGER_POSITION], [USERNAME], [MANAGER_PASSWORD]) VALUES (19001, N't', N'k', N'Wednesday, 23 October 2019', N'System.Data.DataRowView', N't', N'1')
GO
INSERT [dbo].[TBL_MANAGERS] ([MANAGER_ID], [FIRSTNAME], [LASTNAME], [DATE_OF_BIRTH], [MANAGER_POSITION], [USERNAME], [MANAGER_PASSWORD]) VALUES (19002, N'kelebogile', N'Malebo', N'Wednesday, 23 October 2019', N'System.Data.DataRowView', N'k@fleet.co.za', N'1234')
GO
SET IDENTITY_INSERT [dbo].[TBL_MANAGERS] OFF
GO
SET IDENTITY_INSERT [dbo].[TIMESHEET] ON 

GO
INSERT [dbo].[TIMESHEET] ([ID], [EMPLOYEE_ID], [FIRSTNAME], [LASTNAME], [HOURS_WORKED]) VALUES (2, 123243, N'MARY', N' JOSEPH', 21)
GO
INSERT [dbo].[TIMESHEET] ([ID], [EMPLOYEE_ID], [FIRSTNAME], [LASTNAME], [HOURS_WORKED]) VALUES (3, 879965, N'FLORANCE', N' MALESWANE', 9)
GO
SET IDENTITY_INSERT [dbo].[TIMESHEET] OFF
GO
USE [master]
GO
